<nav class="navbar navbar-expand-lg  navbar-dark bg-dark nav-color">
  <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">
    Motors
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="nbCadastro" aria-haspopup="true" aria-expanded="false">
          Cadastros
        </a>
        <div ngbDropdownMenu class="dropdown-menu menuDonw" aria-labelledby="nbCadastro">
          <a class="dropdown-item" [routerLink]="['/listarAnuncio']" routerLinkActive="router-link-active">Anuncios</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
